// =========================================================
// Global
// =========================================================
div#home-container {
    width: 100%;
    height: 100%;
}

.flex-row-reverse {
    flex-direction: row-reverse !important;
}

.pointer {
    cursor: pointer;
}

.underline {
    width: 80%;
    height: 1px;
    margin: 0 auto;
    background-color: black;
}


// =========================================================
// Widgets
// =========================================================
.top-left-widget, .bottom-widget, .middle-widget {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.top-right-widget {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
}

.widget-root {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.3) !important;
    border-radius: 1rem !important;
    height: 150px;
    width: 150px;
    transition: all 0.3s !important;
}

.widget-expand, .widget-root:hover {
    width: 400px;
}

.widget-image {
    height: 100%;
    width: auto;
    border-radius: 1rem;
}

.widget-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    visibility: hidden;
}


// =========================================================
// Buttons
// =========================================================
.fab {
    width: 4.5rem !important;
    height: 4.5rem !important;
    background-color: white !important;
}

.fab:hover {
    background-color: #d5d5d5 !important;
}

.fab svg {
    width: 1.5em !important;
    height: 1.5em !important;
}

.navigation-arrows-root {
    width: 100%;
    height: 100%;
}

.navigate-button {
    position: absolute !important;
    background-color: rgba(255, 255, 255, 0.3) !important;
    border-radius: 4px !important;
    width: 36px !important;
    background-color: white !important;
}

.navigate-button:hover {
    background-color: rgba(255, 255, 255, 0.1) !important;
}

.navigate-left {
    top: 50%;
    left: 12px;
    transform: translate(0, -50%);
}

.navigate-right {
    top: 50%;
    right: 12px;
    transform: translate(0, -50%);
}

.navigate-bottom {
    bottom: 12px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 56px !important;
    height: 20px !important;
}

.navigate-top {
    top: 12px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 56px !important;
    height: 20px !important;
}


// =========================================================
// Animations
// =========================================================
.widget-root:hover > .widget-text, .widget-expand > .widget-text {
    animation: showText 0.5s ease;
    animation-fill-mode: forwards;
}

.fade-in {
    animation: fadeIn 0.3s ease forwards;
}

.fade-in-slow {
    animation: fadeIn 1s ease forwards;
}

.move-profile-widget {
    animation: moveProfileWidget 0.75s ease forwards;
}

.move-location-widget {
    animation: moveLocationWidget 0.75s ease forwards;
}

.move-export-resume-widget {
    animation: moveExportResumeWidget 0.5s ease forwards;
}

.move-linked-in-widget {
    animation: moveLinkedInWidget 0.5s ease forwards;
}

.move-git-hub-widget {
    animation: moveGitHubWidget 0.5s ease forwards;
}

.move-contact-me-widget {
    animation: moveContactMeWidget 0.5s ease forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0.25;
    }
    50% {
        opacity: 0.5;
    }
    75% {
        opacity: 0.75;
    }
    100% {
        opacity: 1;
    }
}

@keyframes moveProfileWidget {
    100% {
        top: 12px;
        left: 12px;
        transform: translate(0, 0);
    }
}

@keyframes moveLocationWidget {
    100% {
        top: 12px;
        right: 12px;
        transform: translate(0, 0);
    }
}

@keyframes moveExportResumeWidget {
    100% {
        top: 87%;
        left: 15%;
    }
}

@keyframes moveLinkedInWidget {
    100% {
        top: 87%;
        left: 35%;
    }
}

@keyframes moveGitHubWidget {
    100% {
        top: 87%;
        left: 65%;
    }
}

@keyframes moveContactMeWidget {
    100% {
        top: 87%;
        left: 85%;
    }
}

@keyframes showText {
    0% {
        visibility: hidden;
    }
    55% {
        visibility: hidden;
    }
    100% {
        visibility: visible;
    }
}