// ===========================
// Constants
// ===========================
:root {
    --views-width: 90vw;
    --views-height: 90vh;
    
    --horizontal-flex-multiplier: 3;
    --vertical-flex-multiplier: 2.05;

    --base-duration: 700ms;
    --base-ease: cubic-bezier(0.25, 0.46, 0.45, 0.84);
} 


// ===========================
// Global
// ===========================
.glass-effect {
    background: linear-gradient(
        to right bottom, 
        rgba(255, 255, 255, 0.7),
        rgba(255, 255, 255, 0.3)
    );
    border-radius: 2rem;
}

.blur {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.7);
    filter: blur(0.5rem);
    height: inherit;
    width: inherit;
    z-index: -1;
}


// ===========================
// Grid
// ===========================
.grid-root {
    position: relative;

    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.views-wrapper {
    position: absolute;
    top: 0px;

    width: calc(var(--views-width) * var(--horizontal-flex-multiplier));
    height: calc(var(--views-height) * var(--vertical-flex-multiplier));
    margin-top: 24px;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    align-content: space-around;
    flex-wrap: wrap;

    transition: transform var(--base-duration) cubic-bezier(0.25, 1, 0.35, 1);
    transition-delay: calc(var(--base-duration) / 4);
}


// ===========================
// Navigation
// ===========================
.navigation-arrows-root {
    position: absolute;
    width: 100%;
    height: 100%;
}

.navigate-button {
    position: absolute !important;
    background-color: rgba(255, 255, 255, 0.3) !important;
    border-radius: 4px !important;
    width: 36px !important;
    background-color: white !important;
}

.navigate-button:hover {
    background-color: rgba(255, 255, 255, 0.1) !important;
}

.navigate-left {
    top: 50%;
    left: 12px;
    transform: translate(0, -50%);
}

.navigate-right {
    top: 50%;
    right: 12px;
    transform: translate(0, -50%);
}

.navigate-bottom {
    bottom: 12px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 56px !important;
    height: 20px !important;
}

.navigate-top {
    top: 12px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 56px !important;
    height: 20px !important;
}


// ===========================
// Views
// ===========================
.view {
    width: var(--views-width);
    height: var(--views-height);

    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0.35;
    z-index: 1;
    overflow: hidden;

    transform: scale(0.7);

    &--left,
    &--right,
    &--top,
    &--bottom {
        transform-style: preserve-3d;

        &:hover {
            opacity: 0.5;
        }
    }

    &--left {
        cursor: w-resize;
        animation: view-out-left calc(var(--base-duration) / 2) var(--base-ease) forwards;
    }

    &--right {
        cursor: e-resize;
        animation: view-out-right calc(var(--base-duration) / 2) var(--base-ease) forwards;
    }

    &--top {
        cursor: n-resize;
        animation: view-out-top calc(var(--base-duration) / 2) var(--base-ease) forwards;
    }

    &--bottom {
        cursor: s-resize;
        animation: view-out-bottom calc(var(--base-duration) / 2) var(--base-ease) forwards;
    }
}

.view--current {
    opacity: 1;
    animation: scale-view-in calc(var(--base-duration) / 1) var(--base-ease) forwards;
    animation-delay: calc(var(--base-duration) / 6);
}

.view-title {
    position: absolute;
    top: 16px;
    text-align: center;
}

.hobbies-root, .work-experience-root, .skills-root {
    display: flex;
    justify-content: center;
}


// ===========================
// Animations
// ===========================
@keyframes view-out-left {
    0% {
        transform: scale(1);
    }
    60% {
        transform: scale(0.7);
    }
    100% {
        transform: scale(0.7) translateX(18%);
    }
}

@keyframes view-out-right {
    0% {
        transform: scale(1);
    }
    66% {
        transform: scale(0.7);
    }
    100% {
        transform: scale(0.7) translateX(-18%);
    }
}

@keyframes view-out-top {
    0% {
        transform: scale(1);
    }
    66% {
        transform: scale(0.7);
    }
    100% {
        transform: scale(0.7) translateY(22%);
    }
}

@keyframes view-out-bottom {
    0% {
        transform: scale(1);
    }
    66% {
        transform: scale(0.7);
    }
    100% {
        transform: scale(0.7) translateY(-20%);
    }
}

@keyframes scale-view-in {
    0% {
        transform: scale(0.7) translateX(0%);
    }
    66% {
        transform: scale(0.7) translateX(0%);
    }
    100% {
        transform: scale(1) translateX(0%);
    }
}