// =========================================================
// Global
// =========================================================
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    margin: 0;
}

h2 {
    font-size: 2rem;
}

h5 {
    font-size: 1.3rem;
    font-weight: normal;
    margin: 0;
    margin-bottom: 1rem;
}

h6 {
    font-size: 1rem;
    font-weight: normal;
    margin: 0;
    margin-top: 1rem;
}


div#root {
    height: 100%;
    background-image: url("../Images/background2.jpg");
}

div#app-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.under-construction-image {
    width: 50%;
}

