.widget-root {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.3) !important;
    border-radius: 1rem !important;
    height: 150px;
    width: 150px;
    transition: all 0.3s !important;
}

.flex-row-reverse {
    flex-direction: row-reverse !important;
}

.widget-expand, .widget-root:hover {
    width: 400px;
}

.widget-root:hover > .widget-text, .widget-expand > .widget-text {
    animation: showText 0.5s ease;
    animation-fill-mode: forwards;
}

.widget-image {
    height: 100%;
    width: auto;
    border-radius: 1rem;
}

.pointer {
    cursor: pointer;
}

.widget-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    visibility: hidden;
}

.fab {
    width: 4.5rem !important;
    height: 4.5rem !important;
    background-color: white !important;
}

.fab:hover {
    background-color: #d5d5d5 !important;
}

.fab svg {
    width: 1.5em !important;
    height: 1.5em !important;
}

.loading-root {
    width: 80%;
}

.linear-progress-bar {
    height: 12px !important;
    border-radius: 4px;
    margin-top: 8px;
    background-color: rgba(139, 0, 0, 0.3) !important;
}

.linear-progress-bar .MuiLinearProgress-barColorPrimary {
    background-color: darkred !important;
}

.navigation-arrows-root {
    width: 100%;
    height: 100%;
}

.navigate-button {
    position: absolute !important;
    background-color: rgba(255, 255, 255, 0.3) !important;
    border-radius: 4px !important;
    width: 36px !important;
    background-color: white !important;
}

.navigate-button:hover {
    background-color: rgba(255, 255, 255, 0.1) !important;
}

.navigate-left {
    top: 50%;
    left: 12px;
    transform: translate(0, -50%);
}

.navigate-right {
    top: 50%;
    right: 12px;
    transform: translate(0, -50%);
}

.navigate-down {
    bottom: 12px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 56px !important;
    height: 20px !important;
}

.navigate-up {
    top: 12px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 56px !important;
    height: 20px !important;
}


/*** ANIMATIONS ***/

@keyframes showText {
    0% {
        visibility: hidden;
    }
    55% {
        visibility: hidden;
    }
    100% {
        visibility: visible;
    }
}