html, body {
    height: 100%;
    margin: 0;
}

div#root, div#app-container {
    height: 100%;
    background-image: url("./assets/img/background2.jpg");
    overflow: hidden;
}

div#app-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.glass {
    width: 90vw;
    height: 90vh;
    margin: 0 auto;
    background: linear-gradient(
        to right bottom, 
        rgba(255, 255, 255, 0.7),
        rgba(255, 255, 255, 0.3)
    );
    border-radius: 2rem;
    backdrop-filter: blur(0.5rem);
    animation: glassGrow 1.25s ease-out;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

@keyframes glassGrow {
    to {
        width: 90vw;
        height: 90vh;
    }
}