*, *:before, *:after {
    box-sizing: border-box;
}

:root {
    --color-primary: #6B7A8F;
    --color-secondary: #101118;
    --color-accent: #1D1F2F;
    --color-focus: #6D64F7;
    --base-duration: 1000ms;
    --base-ease: cubic-bezier(0.25, 0.46, 0.45, 0.84);
}


// ===============
// GLOBAL
// ===============

#app-container {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    overflow-x: hidden;
    width: 100%;
}


// =========================
// Slider
// =========================

.slider {
    --slide-size: 70vmin;
    --slide-margin: 2vmin;

    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    padding-top: 3%;
}

.slider__wrapper {
    display: flex;
    margin: 0 calc(var(--slide-margin) * -1);
    position: absolute;
    transition: transform var(--base-duration) cubic-bezier(0.25, 1, 0.35, 1);
    height: 200%;
}


// =========================
// Slide
// =========================

.slide {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // color: white;
    // width: var(--slide-size);
    // height: var(--slide-size);
    // margin: 0 var(--slide-margin);
    width: 90vw;
    height: 90vh;
    opacity: 0.25;
    position: relative;
    text-align: center;
    transition: 
        opacity calc(var(--base-duration) / 2) var(--base-ease),
        transform calc(var(--base-duraction) / 2) var(--base-ease);
    z-index: 1;

    &--previous,
    &--next {
        transform-style: preserve-3d;

        &:hover {
            opacity: 0.5;
        }
    }

    &--previous {
        cursor: w-resize;
        transform: perspective(1000px) translateX(5%) rotateY(15deg);
    }

    &--next {
        cursor: e-resize;
        transform: perspective(1000px) translateX(-5%) rotateY(-15deg);
    }
}

.slide--current {
    --x: 0;
    --y: 0;
    --d: 50;

    opacity: 1;
    pointer-events: auto;
    user-select: auto;
    transition: transform calc(var(--base-duration) / 2) var(--base-ease);
    transform-style: preserve-3d;
    transform: perspective(1000px) translateX(0%) rotateY(0deg);

    @media (hover: hover) {
        &:hover .slide__image-wrapper {
            transform: 
                scale(1.025) 
                translate(
                    calc(var(--x) / var(--d) * 1px), 
                    calc(var(--y) / var(--d) * 1px)
                );
        }    
    }
}

.title-wrapper {
    background-color: var(--color-accent);
    border-radius: 1%;
    height: 100%;
    left: 0%;
    overflow: hidden;
    position: absolute;
    top: 0%;  
    transition: transform calc(var(--base-duration) / 4) var(--base-ease);
    width: 100%;
}

.slide-content {
    --d: 60;

    opacity: 0;
    padding: 4vmin;
    position: relative;
    transition: transform var(--base-duration) var(--base-ease);
    visibility: hidden;

    .slide--current & {
        animation: fade-in calc(var(--base-duration) / 2) var(--base-ease) forwards;
        visibility: visible;
    }

    > * + * {
        margin-top: 2rem;
    }
}


// =========================
// Animations
// =========================

@keyframes fade-in {
    from { opacity: 0 }
    to   { opacity: 1 }
}
